.cart {
    color: black;
    background-color: white;
    top: 30px;
    left: -465px;
    z-index: 2;
    padding: 20px 10px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    // display: block !important;
    position: relative;
    cursor: default;

    &:before {
        content: '';
        height: 30px;
        width: 50%;
        display: block;
        position: absolute;
        right: 0;
        top: -10px;
        z-index: -2;
        background-color: none;
    }

    .cart-payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 20px;

        span {
            font-weight: 700 !important;
            font-size: 18px !important;
        }

        button {
            background-color: #EB6440;
            color: white;
            padding: 8px 35px;
            font-size: 14px;
            border-radius: 8px;
        }
    }
}